In [ ]:
import pandas as pd #データを扱う際には不可欠
import re #正規表現で使用
import numpy as np #配列を作るために使用

order_df=pd.DataFrame({'Order':[1,2,3,4,5,6]})

start_date=20200104 #2020年1月4日から始めて
end_date=20200430   #2020年4月30日で終了する場合

date_array=np.arange(start_date,end_date,1) #その間の日にちを配列にする、存在しない日もあり

pagenum_list=['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24'] #存在しない競艇場番号もあり

count=1
for date in date_array:
    for pagenum in pagenum_list:
        link_name='https://www.boatrace.jp/owpc/pc/race/raceresult?rno=12&jcd='+str(pagenum)+'&hd='+str(date)
        print(link_name)
        load_url=link_name
        try:
            data = pd.read_html(load_url, header = 0)#ここでWebスクレイピングをしている

            try:
                data_df=data[1]
                Number_list=[]
                for i in range(0,5+1):
                    Number_regex=re.compile(r'\d\d\d\d')#正規表現で探索
                    Number=Number_regex.search(data_df['ボートレーサー'][i]).group()
                    Number_list.append(Number)#保存

                name='Number_race'+str(count)#名前を作って
                add_Number_race=pd.DataFrame({'Order':[1,2,3,4,5,6],name:Number_list})#データフレームを作り
                #print(add_Number_race)
                order_df=pd.merge(order_df,add_Number_race)#既存のDFと合体させます
                count+=1
                print(count)
            except  IndexError:#ページがなかったとき用
                print('This page is null')


        except ValueError:#表が無かったとき用
            print('Nothing@',pagenum,date)
print('END')

In [2]:
order_df

,Order,Number_race1,Number_race2,Number_race3,Number_race4,Number_race5,Number_race6,Number_race7,Number_race8,Number_race9,...,Number_race373,Number_race374,Number_race375,Number_race376,Number_race377,Number_race378,Number_race379,Number_race380,Number_race381,Number_race382
0,1,4188,3983,4759,3613,4266,3960,4492,3941,3388,...,3415,3497,4090,4450,3541,4363,3635,3903,4772,4545
1,2,3686,3952,4366,4085,3699,4524,4142,4509,4105,...,3783,4587,4544,4964,4112,4190,4492,3968,4736,4102
2,3,3659,3251,4688,3805,3996,4342,4080,4067,3814,...,4468,3902,3703,4464,4260,4040,4067,4137,4831,3574
3,4,3970,3696,4465,4083,4769,4360,3283,4369,4761,...,3788,4310,4134,4373,3955,4239,4013,4485,4822,4614
4,5,3414,3533,3340,3293,4327,3563,3992,4565,4907,...,4171,3745,3550,3994,3852,4593,3931,3944,4834,3662
5,6,4486,4036,3385,4676,3141,4793,4792,3934,3439,...,4547,3714,3473,4720,3664,3412,4163,3555,4835,4367